.App {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #24292e;
  color: whitesmoke;
}

.query-inputs > * {
  background-color: whitesmoke;
  border: none;
  text-decoration: none;
  outline: none;
  color: #24292e;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
}

button:active {
  background-color: #24292e;
  color: whitesmoke;
}

button:hover {
  width: 6rem;
}